.login-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 50px;
    /* background-color: #f5f5f5; */
    /* min-height: 80vh; */
    /* font-family: Arial, sans-serif; */
}

/* .login-container h1 {
    color: #333;
    margin-bottom: 30px; */
/* } */

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* .login-form label {
    margin-bottom: 5px;
    font-weight: bold;
} */

.login-form input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
}

.login-form button {
    padding: 10px;
    background-color: #242424;
    color: white;
    /* border: none; */
    /* border-radius: 5px; */
    /* cursor: pointer; */
}

/* .login-form button:hover {
    background-color: #444;
} */